<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="商城测试">
    <test verbose="2" preserve-order="true" name="商城首页和信息测试">
        <classes>
            <class name="com.myy.testngpo.HomePage">
                <methods>
                    <include name="shopLog"/>
<!--                    灵活运用测试集，测试所需功能，需注销便注销-->
<!--                    <include name="shopSearch"/>-->
                </methods>
            </class>

            <class name="com.myy.testngpo.UserPage">
                <methods>
                    <include name="modifierInfo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>